:root {
  --gray-color: #F8F8F8;
  --dark-gray-color: #dfdfdf; 
  --dark-color: #323232;
  --white-color: #FFFFFF;
  --dark-theme: #0D1117;
  --dark-theme-header: #141a24;
  --dark-theme-light: #4d5666;
  --link-color:#4078c0;
}

html {
  margin:0;
  padding:0;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}


/* --------------------------------BODY AREA START-----------------------------------*/

body {
  background-color: var(--gray-color);
	transition: background 0.2s linear;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  margin: 0;
}

body.dark {
	background: var(--dark-theme);
}

/* --------------------------------HEADER AREA START-----------------------------------*/

.header {
  width: 100%;
  height: 62px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 30px 31px 0px rgba(0,0,0,0.02); 
  box-shadow: 0px 30px 31px 0px rgba(0,0,0,0.02);
  transition: background 0.2s linear;
}

.header.dark {
  background: var(--dark-theme-header);
}


/* --------------------------------FOOTER AREA START-----------------------------------*/

footer {
  position: relative;
  bottom: 0;
  background-color: var(--gray-color);
  height: 12px;
  width: 100%;
  padding-top: 100px;
  transition: background 0.2s linear;
  margin-top: 150px;
}

footer.dark {
  background: var(--dark-theme);
}

footer .copyright {
  position: relative;
  bottom: 82px;
  left: 460px;
  font-size: 13px;
}

footer .copyright.dark {
  color: var(--dark-theme-light);
}

footer .links {
  width: 800px;
  position: relative;
  left: 700px;
  bottom: 100px;
  color: var(--link-color);
}

footer .links .link {
  font-size: 13px;
  padding-right: 28px;
}

footer .line {
  position: relative;
  right: 7px;
  width: 979px;
  border-top: 1px solid var(--dark-theme-light);
  border-bottom: 1px solid var(---dark-theme-light);
  border-left: 1px solid var(--dark-theme-light);
  border-right: 1px solid var(--dark-theme-light);
  bottom: 105px;
}

/* --------------------------------THEME SWITCHER AREA START-----------------------------------*/

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: var(--dark-theme);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 10px;
	width: 43px;
	transform: scale(1.5);
  left: 1800px;
  top: 23px;
}

.label .ball {
	background-color: var(--white-color);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(31px);
}


.fa-moon {
	color: #f1c40f;
  font-size: 12px;
}

.fa-sun {
	color: #f39c12;
  font-size: 12px;
}

/* --------------------------------SERVERS AREA START-----------------------------------*/

.servers {
  width: 983px;
  min-height: 100%;
  position: relative;
  left: 460px;
  top: 100px;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  transition: background 0.2s linear;
}

.accordion-item.dark {
  background: var(--dark-theme-header);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header .icon {
  position: relative;
  width: 35px;
}

.accordion-item-header .icon img{
  height: 35px;
  width: 35px;
}

.accordion-item-header .icon .debian {
  width: 60px;
  height: 35px;
  position: relative;
  right: 10px;
}

.accordion-item-header .name {
  width: 400px;
  font-size: 20px;
  position: relative;
  bottom: 0px;
  left: 0px;
  transition: background 0.2s linear;
}

.accordion-item-header .name a{
  margin-left: 15px;
}

.accordion-item-header .name.dark{
  color: var(--link-color);
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: var(--link-color);
}

.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  max-height: 95px;
}

.accordion-item-body-content img {
  width: 25px;
  height: 15px;
  position: relative;
  left: 25px;
  top: 20px;
}

.accordion-item-body-content .location {
  position: relative;
  bottom: 7px;
  left: 65px;
}

.accordion-item-body-content .location.dark {
  color: var(--link-color);
}


.accordion-item-body-content .status-description.dark {
  color: var(--link-color);
}


.accordion-item-body-content .status-description a{
  position: relative;
  left: 24px;
  font-weight: bold;
  top: 7px;
}

.accordion-item-body-content .status {
  position: relative;
  left: 60px;
  bottom: 34px;
}

.accordion-item-body-content .status-inactive img {
  width: 20px;
  height: 20px;
}

.accordion-item-body-content .status-active img {
  width: 17px;
  height: 17px;
}

.accordion-item-body-content .ip {
  position: relative;
  left: 700px;
  bottom: 81px;
}

.accordion-item-body-content .ip.dark {
  color: var(--link-color);
}

.accordion-item-body-content .ip a {
  font-weight: bold;
  margin-left: 5px;
}

.accordion-item-body-content .username {
  position: relative;
  left: 570px;
  bottom: 68px;
}

.accordion-item-body-content .username.dark {
  color: var(--link-color);
}

.accordion-item-body-content .username a{
  font-weight: bold;
}

.accordion-item-body-content .password {
  position: relative;
  left: 700px;
  bottom: 93px;
}

.accordion-item-body-content .password.dark {
  color: var(--link-color);
}

.accordion-item-body-content .password a{
  font-weight: bold;
}

/* --------------------------------NO SERVERS AREA START-----------------------------------*/

.empty {
  position: relative;
  height: 500px;
  width: 350px;
  left: 780px;
  top: 100px;
}

.empty img {
  position: relative;
}

.empty .description {
  font-size: 18px;
  position: relative;
  top: 20px;
  left: 40px;
}

/* --------------------------------LOGO AREA START-----------------------------------*/

.home {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -5px;
  left: 50px;
}

.home img {
  height: 80px;
  width: 80px;
}




